.sellbtn{
   
    border-style: solid;
    border-width:6px;
    border-top-color: #23e5db;
    border-left-color:#ffce32;
    border-right-color:#3a77ff;
    border-bottom-color:#3a77ff;
    padding:6px 18px;
    font-size:15px;
    display:flex;
    gap:3px;
}

.navmenu:hover{
    color: teal;
}